body {
  margin: 0;
  font-family: sans-serif;
  /* background-color: blue; */
}

.bookmark-manager-app {
  display: flex;
  min-height: 100vh;
  background-color: #E8F0EF;
  width: 220.9vh;
}
.main-content-area {
  flex-grow: 1;
  width: 100%;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}
/* রেসপন্সিভ */
@media (max-width: 768px) {
  .bookmark-manager-app {
    flex-direction: column;
    width: 100%;
    
  }

  .main-content-area {
    margin-left: 0 !important;
  }
}